.section {
  padding-inline: 0;
  width: 100%;
}

.section h2 {
  margin-block: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formGroup input,
.formGroup textarea {
  font-size: medium;
  padding: 0.5rem 0.5rem;
  resize: none;
  font-family: inherit;
}

.sendButton {
  height: 3rem;
  width: 90%;
  align-self: center;
  font-size: large;
}

.contact form {
  max-width: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.contact > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputError {
  background-color: #ff00004f;
  margin-top: 0.2rem;
  border: 1px solid #ff8383;
  border-radius: 5px;
  font-size: smaller;
  line-height: initial;
  padding-inline: 0.5rem;
  height: auto;
  transition: all 0.2s linear;
}

.hidden {
  border: 0;
  margin: 0;
  height: 0;
}

@media(min-width: 640px) {
  .section {
    padding-inline: 3rem;
  }
}